@model IEnumerable<MovieDAL.Model.Movie>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Best Movies</h1>
</div>
<ol>
    @foreach (var movie in Model)
    {
        <li>@movie.Title</li>
    }
</ol>




